body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}


::-webkit-scrollbar{
	display: none;
}




.myRow{
	/* border: 2px solid black; */
	border-radius: 5px;
	display:flex;
	flex-wrap: nowrap;
	overflow: auto;
	grid-gap: 3rem;
	padding: 2rem;
}

.myContainer{
	display: grid;
	justify-content: center;
	text-align: center;
	margin-bottom: 2rem;
	padding-inline: 1rem;
	border: 2px solid black;
	border-radius: 8px;
	transition: transform 0.8s;
}

.myContainer > img{
	height: 19rem;
	width: 13rem;
	object-fit: cover;
	padding: 1rem;

}

.form-control, .form-control:focus{
	background: transparent;
	color: white;
	padding: 1rem;
}
.mySpan{
	align-items: center;
	gap: 0.5rem;
	border: 2px solid black;
	display: flex;
	padding: 0.6rem;
	border-radius: 8px;
	justify-content: center;
	position:relative;
	margin-bottom: 0.8rem;
}
.mySpan:hover{
	background: rgb(255, 255, 255, 0.1);
	
}

.myContainer:hover {
	cursor: pointer;
	transform: scale(1.2);
	background: rgba(255, 255, 255, 0.01);
	margin: 1rem;
}

.reverse{
	flex-direction: row;
	flex-flow: row-reverse;
	

}



/* Media for phones */


@media screen and (max-width:600px) {
    .myRow{
		height: 29rem;
		grid-gap: 3rem;
	   }
	   .myContainer > img {
		height: 13rem;
		width: 10rem;
		padding: 0.2rem;
	   }
}